mysql workbech 에서  'schema'를 생성 ->db_mysql

In [48]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\user\anaconda3\lib\site-packages (1.1.0)

In [49]:
import pymysql

파이썬 mysql 연동

1. mysql 연결하기
2. cursor 생성
3. sql  쿼리문으로 질의 
4. mysql  연결 종료

In [50]:
# 1. 파이썬에서 mysql 연동
# 연결자 생성 -> mysql 연결하기

conn = \
pymysql.connect(host = '127.0.0.1'      # DB서버 주소
                , user = 'root'         # 계정
                , password = '0000'     # 비밀번호
                , db = 'db_mysql'       # DB 이름
                ,charset = 'utf8')      # 문자 인코딩

In [51]:
# 2. 커서를 생성 -  DB와 연락을 주고받기

cur = conn.cursor()

In [52]:
# 3. sql 쿼리문으로 질의

sql = 'select * from tbl_users'
cur.execute(sql) # 2개 존재

2

In [53]:
# 쿼리 실행 결과를 한 줄씩 읽어오기

# row = cur.fetchone()
# print(row)

In [54]:
# row = cur.fetchone()
# print(row)  # 그 다음줄 읽어옴

In [55]:
# row = cur.fetchone()
# print(row)  # 그 다음 줄이 없으므로 None

In [56]:
# 실행결과물 확인(한번에 처리)

# rows = cur.fetchall()

#for row in rows:
#    print(row)

In [57]:
while True: 
    # 한줄씩 가져오기
    row = cur.fetchone()
    
    # 더 이상 가져올 결과가 없으면 None이 나오기 때문에 break
    if row == None:
        break   # 정지조건
    print(row)
    print(type(row))
    print(row[0],row[1],row[2])

(1, '아이유', '1111')
<class 'tuple'>
1 아이유 1111
(2, '카리나', '2222')
<class 'tuple'>
2 카리나 2222

In [58]:
# 컬럼명 추출하기

col_names = cur.description
col_names

(('idx', 3, None, 11, 11, 0, False),
 ('user_name', 253, None, 45, 45, 0, False),
 ('phone', 253, None, 45, 45, 0, False))

In [62]:
col_names[1]

('user_name', 253, None, 45, 45, 0, False)

In [63]:
col_names[1][0]

'user_name'

In [64]:
# .컬렁명을 리스트로 저장

col_name = []

for colname in col_names:
    col_name.append(colname[0])

col_name

['idx', 'user_name', 'phone']

테이플 데이터를 판다스의 데이터프레임 형태로 저장

In [65]:
import numpy as np
import pandas as pd

In [67]:
# 데이터 프레임 변환

pd.DataFrame(rows,columns=col_name)

   idx user_name phone
0    1       아이유  1111
1    2       카리나  2222

In [68]:
raw = pd.DataFrame(rows, columns=col_name)
df = raw.copy()

In [69]:
# 엑셀로 저장
df.to_csv('user.xlsx', index=False)

CRUD

- C : create 생성
- R : read   읽어오기
- U : update 수정하기
- D : delete 삭제하기

In [70]:
# 데이터 생성, 추가
# create

sql = 'insert into tbl_users(user_name, phone) values("닥터윌","3333")'
cur.execute(sql)

1

In [72]:
sql = 'select * from tbl_users'
cur.execute(sql)

3

In [74]:
rows = cur.fetchall()

for row in rows:
    print(row)
    
# 이렇게 하면 vscode에는 보이지만 mysql에는 보이지 않는다

(1, '아이유', '1111')
(2, '카리나', '2222')
(3, '닥터윌', '3333')

In [75]:
# 저장을 해야하기 때문

conn.commit() #commit을 해야 mysql에 저장된다

In [76]:
# 간단 퀴즈
# 이름 : 윤하, 전화번호 1234 데이터 추가하기

sql = 'insert into tbl_users(user_name, phone) values("윤하","1234")'
cur.execute(sql)

1

In [79]:
sql = 'select * from tbl_users'
cur.execute(sql)

4

In [80]:
rows = cur.fetchall()

for row in rows:
    print(row)

(1, '아이유', '1111')
(2, '카리나', '2222')
(3, '닥터윌', '3333')
(4, '윤하', '1234')

In [77]:
conn.commit()

In [81]:
# READ : 데이터 불러오기(읽기)

sql = 'select user_name,phone from tbl_users'

cur.execute(sql)
cur.fetchall()

(('아이유', '1111'), ('카리나', '2222'), ('닥터윌', '3333'), ('윤하', '1234'))

In [82]:
# 조건절 where
# where 컬럼명 = 값

sql = 'select * from tbl_users where user_name = "윤하"'

cur.execute(sql)
cur.fetchall()

((4, '윤하', '1234'),)

In [83]:
# update :  데이터 수정/갱신
# update 테이블명 set 컬럼명 = 바꿀 값  where 조건

In [84]:
# '윤하'의 전화번호를 0486으로 변경하기

sql ='update tbl_users set phone= "0486" where user_name = "윤하"'

cur.execute(sql)
conn.commit()

In [85]:
sql = 'select * from tbl_users'
cur.execute(sql)
cur.fetchall()

((1, '아이유', '1111'), (2, '카리나', '2222'), (3, '닥터윌', '3333'), (4, '윤하', '0486'))

In [92]:
# 간단 퀴즈
# 카리나의 전화번호를 1515 번호 변경 코드를 작성해 보세요

sql = 'update tbl_users set phone = "1515" where user_name = "카리나"'

cur.execute(sql)
conn.commit()

sql= 'select*from tbl_users'
cur.execute(sql)
cur.fetchall()

((1, '아이유', '1111'), (2, '카리나', '1515'), (4, '윤하', '0486'))

In [87]:
# Delete : 데이터 삭제
# delete from 테이블명 where 컬럼의 값

In [93]:
# 이름이 닥터윌인 데이터를 삭제

sql = 'delete from tbl_users where user_name = "닥터윌"'
cur.execute(sql)
conn.commit()

In [91]:
sql= 'select*from tbl_users'
cur.execute(sql)
cur.fetchall()

((1, '아이유', '1111'), (2, '카리나', '1515'), (4, '윤하', '0486'))

In [94]:
# 테이블 목록 조회
# show tables

sql = 'show tables'

cur.execute(sql)
cur.fetchall()

(('tbl_email',), ('tbl_users',))

In [95]:
# 테이블 삭제
# drop table 테이블명

sql = 'drop table tbl_email'
cur.execute(sql)
# 삭제는 commit 안해도 알아서 저장된다

0

In [96]:
sql = 'show tables'
cur.execute(sql)
cur.fetchall()

(('tbl_users',),)

In [ ]:
# 4. 연결 끊기

# conn.close()